*{
  margin: 0;
  padding: 0;
}
body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem auto;

}

.container{

  height: 400px;
  width: 400px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0.1px 0.1px 5px 0.1px yellowgreen;
}
.container a {
  text-decoration: none;
 
}
img{

  margin-top: 10px;
}

h2{
  margin-bottom: 15px;
}

#offerForm{
 display: flex;
 flex-direction: column;
justify-content: center;
align-items: center;
 text-align: left;
}

label{
  font-size: 20px;
  text-align: left;
}

input{
  height: 35px;
  width: 85%;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 5px;
}

select{
  height: 35px;
  width: 85%;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

button{

  height: 35px;
  width: 85%;
  font-weight: 600;
  background-color: rgb(1, 11, 1);
  color: #fff;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 15px;
}